Before you turn this problem in, make sure everything runs as expected. First, **restart the kernel** (in the menubar, select Kernel$\rightarrow$Restart) and then **run all cells** (in the menubar, select Cell$\rightarrow$Run All).

Make sure you fill in any place that says `YOUR CODE HERE` or "YOUR ANSWER HERE".

# Week4 Assignments - Functions, NumPy and Pandas


This assignment has four components. Each of the first three components receives one point if all the tests pass. 
The last component on Pandas may require more effort, it consists of three subtasks, each of the subtasks receives 1 point.

All the exercises are designed so that the solutions will need only one or a few lines of code.

Some concepts may be new to you and may require digging into the Python, NumPy or Pandas documentation, the links are provided.

Do not hesitate to contact instuctors and TA via #week4 channel on Slack if you get stuck. Join the channel first by clicking on Channels.

## Part A. Create a missing function (1 point)

In this exercise you need to create a function __missing_link(x)__ that is passed to another function as an argument in order to perform a calculation.

We know the final result (see the assert operator), but we do not know the intermediate calculation leading to that result.

Read about Python built-in functions __all()__ and __zip()__
https://docs.python.org/3.3/library/functions.html

and about the iterators and generators here:
https://docs.python.org/3.3/library/stdtypes.html#typeiter

In [2]:
def calculate(func, it):
    """
    Performs calculation by applying *func* to each item of iterator *it*
    Returns a generator as a result.
    """
    return (2 * func(a) for a in it)

In [12]:
def missing_link(x):
    """Define a function that will be passed to calculate() as an argument"""
    return(x**2)

## You can check the result of the missing_link() function and of calculate() if you wish:
# print(list(map(missing_link, range(5))))
# print(list(calculate(missing_link, range(5))))

[0, 1, 2, 3, 4, 5]

In [7]:
_observed_results = calculate(missing_link, range(7))
_expected_results = [0, 2, 8, 18, 32, 50, 72]

assert all(a == b for a, b in zip(_observed_results, _expected_results))

## Part B. Create a filter function (1 point)

In this exercise you need to create a filter function __filter_DNA(c)__ that accepts one character as an argument and returns True if it belongs to the DNA alphabet "ACGT" and False otherwise. The function should be insensitive to case of the character, i.e. both "A" and "a" are valid.

__filter_DNA(c)__ will be applied to a string in order to exclude all characters not belonging to the DNA alphabet.

Read more about __filter()__ -- a Python built-in function https://docs.python.org/3/library/functions.html#filter

In [32]:
import re

def filter_DNA(DNA):
    """
    Accepts one character as an argument
    Returns True if it belongs to the DNA alphabet "ACGT" and False otherwise
    """
    if re.match('[BD-FH-SU-Z\W\s\d]+', DNA.upper()) != None: # Check to see if the string contains letters other than ATCG
        # the * allows the code to search for "" but it's annoying because it won't accept true DNA string
        # \W matches all nonalpha numeric digits
        return(False)
    else:
        return(True)

# using filter is equivalent to (item for item in iterable if function(item))

False
a, c, g, t

In [33]:
assert ", ".join(filter(filter_DNA, "ACGT")) == "A, C, G, T"
assert ", ".join(filter(filter_DNA, "acgt")) == "a, c, g, t"
assert ", ".join(filter(filter_DNA, "#*UEOHaSDNKcSDPUgDNBH#tSBDHe")) == "a, c, g, t"
assert ", ".join(filter(filter_DNA, "aTGXXAxGxCXT")) == "a, T, G, A, G, C, T"

## Part C. NumPy (1 point)

Define __x__ as a subdivision of an interval from -4 PI to 4 PI into 32 equal parts, i.e. with a PI/4 step. Including both endpoints that should give 33 points.
Using NumPy calculate __cos()__ and __sin()__ and find the values of __x__ where __cos(x)__ is equal to __sin(x)__ and store these values in the variable __y__. Use NumPy vector operations.

Use __np.pi__ constant and __np.linspace()__ function: 
https://docs.scipy.org/doc/numpy/reference/generated/numpy.linspace.html

Note that due to the way floating points are stored in memory exact comparison is nearly always impossible. You should use __np.isclose()__ instead. That would allow some room for floating point errors.
https://docs.scipy.org/doc/numpy-dev/reference/generated/numpy.isclose.html

This plot may be helpful:
http://www.wolframalpha.com/input/?i=plot+sinx+and+cosx+from+-4pi+to+4pi

In [120]:
import numpy as np
x = np.linspace(-4*np.pi,4*np.pi,33)
a = np.array([np.cos(i) for i in x])

b = np.array([np.sin(i) for i in x])
print(a,b)
y = x[np.isclose(a,b)]

[  1.00000000e+00   7.07106781e-01  -4.28626380e-16  -7.07106781e-01
  -1.00000000e+00  -7.07106781e-01   3.06161700e-16   7.07106781e-01
   1.00000000e+00   7.07106781e-01  -1.83697020e-16  -7.07106781e-01
  -1.00000000e+00  -7.07106781e-01   6.12323400e-17   7.07106781e-01
   1.00000000e+00   7.07106781e-01   6.12323400e-17  -7.07106781e-01
  -1.00000000e+00  -7.07106781e-01  -1.96005386e-15   7.07106781e-01
   1.00000000e+00   7.07106781e-01  -1.47019514e-15  -7.07106781e-01
  -1.00000000e+00  -7.07106781e-01  -2.20498322e-15   7.07106781e-01
   1.00000000e+00] [  4.89858720e-16   7.07106781e-01   1.00000000e+00   7.07106781e-01
  -3.67394040e-16  -7.07106781e-01  -1.00000000e+00  -7.07106781e-01
   2.44929360e-16   7.07106781e-01   1.00000000e+00   7.07106781e-01
  -1.22464680e-16  -7.07106781e-01  -1.00000000e+00  -7.07106781e-01
   0.00000000e+00   7.07106781e-01   1.00000000e+00   7.07106781e-01
   1.22464680e-16  -7.07106781e-01  -1.00000000e+00  -7.07106781e-01
  -2.44929360e-16   7.07106781e-01   1.00000000e+00   7.07106781e-01
   3.67394040e-16  -7.07106781e-01  -1.00000000e+00  -7.07106781e-01
  -4.89858720e-16]

In [122]:
assert x.shape[0] == 33
assert -4*np.pi in x
assert 0.0 in x
assert 4*np.pi in x

assert y.shape[0] == 8
assert np.all(np.isclose(y/np.pi, np.array([-3.75, -2.75, -1.75, -0.75,  0.25,  1.25,  2.25,  3.25])))

## Part D. Working with Pandas dataframes (3 points)

We will explore FBI reports on gun checks provided by the National Instant Criminal Background Check System (NICS)
https://www.fbi.gov/services/cjis/nics

Before ringing up the sale, cashiers call in a check to the FBI or to other designated agencies to ensure that each customer does not have a criminal record or isn’t otherwise ineligible to make a purchase. More than 230 million such checks have been made, leading to more than 1.3 million denials.

NICS and background checks is a hot topic and it is important to be able to do some basic fact-checking using the data available. https://www.washingtonpost.com/news/fact-checker/wp/2018/02/23/fact-checking-trump-nra-claims-on-gun-background-checks/?utm_term=.3e0284ad3774

The FBI NICS provides data as PDF reports, which is a really bad example of distributing the data.
There is a community-developed parser that extracted the data from PDF files. Parsed dataset that we will be using is available here: 
https://github.com/BuzzFeedNews/nics-firearm-background-checks/blob/master/README.md

Note that the number of background checks can not be directly interpreted as the number of guns sold because the actual sale protocols vary state to state.

In [2]:
import pandas as pd

# NICS parsed dataset url
url = "https://github.com/BuzzFeedNews/nics-firearm-background-checks/blob/master/data/nics-firearm-background-checks.csv?raw=true"
guns = pd.read_csv(url)

In [3]:
# Use .head() .info() and .describe() to explore the dataset

guns.head()
#guns.tail()
#guns.info()
#guns.describe()
#guns['prepawn_handgun'].values

,month,state,permit,permit_recheck,handgun,long_gun,other,multiple,admin,prepawn_handgun,...,returned_other,rentals_handgun,rentals_long_gun,private_sale_handgun,private_sale_long_gun,private_sale_other,return_to_seller_handgun,return_to_seller_long_gun,return_to_seller_other,totals
0,2018-01,Alabama,23930.0,0.0,5692.0,6199.0,276.0,288,0.0,12.0,...,0.0,0.0,0.0,22.0,34.0,3.0,2.0,1.0,1.0,38477
1,2018-01,Alaska,207.0,6.0,1844.0,1621.0,249.0,137,0.0,0.0,...,0.0,0.0,0.0,13.0,20.0,5.0,0.0,0.0,0.0,4429
2,2018-01,Arizona,5686.0,413.0,11659.0,6992.0,1074.0,531,0.0,10.0,...,0.0,0.0,0.0,30.0,14.0,9.0,0.0,1.0,0.0,28627
3,2018-01,Arkansas,4162.0,555.0,4935.0,5061.0,232.0,323,37.0,7.0,...,0.0,0.0,0.0,13.0,13.0,1.0,0.0,0.0,0.0,17483
4,2018-01,California,55292.0,0.0,37335.0,22919.0,3495.0,0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,119910

### Part D. Subtask 1 (1 point)

First, use __pd.to_datetime()__ with argument __yearfirst=True__ to convert the column __"month"__ to a Pandas Series with DateTime objects. Add a new column __"year"__ to __guns__ dataframe and save the results of conversion there.
https://pandas.pydata.org/pandas-docs/stable/generated/pandas.to_datetime.html

You can access Python __datetime.date__ objects via the __.dt__ property of Pandas Series:
https://pandas.pydata.org/pandas-docs/stable/generated/pandas.Series.dt.date.html

Look up the attributes of __datetime.date__ class, we will need attribute __.year__
https://docs.python.org/3/library/datetime.html

In [4]:
guns['month'].head()
guns['year'] = pd.to_datetime(guns['month'], yearfirst=True)
guns['year'].head()

0   2018-01-01
1   2018-01-01
2   2018-01-01
3   2018-01-01
4   2018-01-01
Name: year, dtype: datetime64[ns]

In [5]:
assert guns['year'].min(), guns['year'].max() == (1998, 2018)

### Part D. Subtask 2 (1 point)

Group __guns__ dataframe by year and sum up the __totals__ (together, regardless of state). Use the variables
__totals_2000__ and __totals_2017__ to store the corresponding results.

You will need https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.groupby.html
and this https://stackoverflow.com/questions/32751229/pandas-sum-by-groupby-but-exclude-certain-columns

In [6]:

totals = guns.groupby('year')['totals'].sum()
totals_2000 = totals.iloc[14:26].sum() # creates a series
totals_2017 = totals.iloc[218:230].sum()

In [7]:
assert totals_2000 == 8427096
assert totals_2017 == 24955919

### Part D. Subtask 3 (1 point)

Group data by state (regardless of year) and calculate the mean value of __long_gun__ and __handgun__ checks separately for each state. Calculate the number of states that had more long gun background checks on average over the years than handgun checks. Calculate the number of states with more handgun checks. Store these results in __states_with_more_long_guns__ and __states_with_more_handguns__ variables, respectively.

Hint: Use vector operations. No for loops are needed. A result of comparison of two vectors is a vector of booleans. You can sum up the vector of booleans to calculate the number of True values in it.

In [40]:
longguns_state = guns.groupby('state')['long_gun'].mean()
handguns_state = guns.groupby('state')['handgun'].mean()
states_with_more_long_guns = sum(longguns_state > handguns_state)
states_with_more_handguns = sum(longguns_state < handguns_state)

In [41]:
assert states_with_more_long_guns == 37
assert states_with_more_handguns == 18